
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4 mx-auto">
    <%= simple_form_for @post do |f| %>
      <%= f.input :title, label: 'Enter the Secret\'s title', label_html: {class: 'text-center my-2'}, input_html: { class: 'form-control my-3' }, placeholder: 'Enter the Secret\'s title' %>

      <%= f.input :content, label: 'Enter your secret', label_html: {class: 'text-center my-2'}, input_html: { class: 'form-control my-3', rows: '5' } %>

      <%= f.button :submit , class: 'btn btn-primary btn-block my-3' %>
    <% end %>
  </div>
